.features {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 320px;
  min-height: 1000px;
  .centerman();
}

@media (min-width: @tablet-width) {
  .features {
    /* Временно для сетки */
    min-height: 1100px;
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    /* Временно для сетки */
    min-height: 1370px;
    width: 1200px;
  }
}

.features__message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 235px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #283645;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .features__message {
    /* Временно для сетки */
    min-height: 220px;
    font-size: 40px;
  }
}

@media (min-width: @desktop-width) {
  .features__message {
    /* Временно для сетки */
    min-height: 405px;
    width: 1200px;
  }
}

.features__message-text {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  font-weight: 300;
  font-size: 24px;
}

@media (min-width: @tablet-width) {
  .features__message-text {
    font-size: 40px;
    line-height: 50px;
  }

  .features__message-text:first-child {
    margin-top: 30px;
  }

  .features__message-text--compressed {
    width: 340px;
    margin-top: 0;
    line-height: 45px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @desktop-width) {
  .features__message-text {
    font-size: 50px;
  }

  .features__message-text:first-child {
    margin-top: 53px;
  }

  .features__message-text--compressed {
    width: 420px;
    margin-top: 5px;
    line-height: 60px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  .reset-list();
  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .features__list {
    width: 660px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    min-height: 485px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @desktop-width) {
  .features__list {
    /* Временно для сетки */
    min-height: 610px;
    margin-top: -100px;
    width: 1200px;
  }
}

@media (min-width: @desktop-width) {
  .features__list-wrapper {
    width: 876px;
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @tablet-width) {
  .features__item {
    margin-left: 0;
    margin-right: 0;
    width: 310px;
  }
}

@media (min-width: @desktop-width) {
  .features__item {
    margin-left: 0;
    margin-right: 0;
    width: 240px;
  }
}

.features__item-wrapper {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .features__item-wrapper {
    margin-left: 0;
    margin-right: 0;
    width: 310px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .features__item-wrapper {
    margin-left: 0;
    margin-right: 0;
    width: 240px;
    text-align: center;
  }
}

.features__item:first-of-type {
  margin-top: 29px;
}

@media (min-width: @tablet-width) {
  .features__item:first-of-type {
    margin-top: 55px;
  }
}

@media (min-width: @desktop-width) {
  .features__item:first-of-type {
    margin-top: 0;
  }
}

.features__item:nth-of-type(2) {
  margin-top: -1px;
}

@media (min-width: @tablet-width) {
  .features__item:nth-of-type(2) {
    margin-top: 3px;
  }
}

.features__item:nth-of-type(3) {
  margin-top: -1px;
}

@media (min-width: @tablet-width) {
  .features__item:nth-of-type(3) {
    margin-top: 3px;
  }
}

.features__item-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  background-color: #f2f2f2;
}

@media (min-width: @desktop-width) {
  .features__item-title {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
  }
}

.features__item-text {
  margin-top: 2px;
}

@media (min-width: @desktop-width) {
  .features__item-text {
    font-size: 18px;
    line-height: 30px;
  }
}

.features__item-text br {
  display: none;
}

@media (min-width: 660px) {
  .features__item-text br {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .features__item-text br {
    display: none;
  }
}

.features__image {
  display: block;
  width: 157px;
  height: 280px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  background-image: url("../img/iphone-screen-3-tablet@1x.png");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-3-tablet@2x.png");
  }
}

@media (min-width: @tablet-width) {
  .features__image {
    order: -1;
    width: 268px;
    height: 485px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .features__image {
    width: 940px;
    height: 301px;
    margin-left: auto;
    margin-right: auto;
    background-image:
      url("../img/iphone-screen-1-desktop@1x.png"),
      url("../img/iphone-screen-2-desktop@1x.png"),
      url("../img/iphone-screen-3-desktop@1x.png");
    background-position: 5px 0, 327px 0, 647px 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png"), url("../img/iphone-screen-2-desktop@2x.png"), url("../img/iphone-screen-3-desktop@2x.png");
      background-size: 292px 302px, 292px 302px, 292px 302px;
    }
  }
}

.features__research {
  display: none;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .features__research {
    /* Временно для сетки */
    min-height: 386px;
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .features__research {
    /* Временно для сетки */
    min-height: 429px;
    align-items: flex-start;
    padding-top: 15px;
    background-color: #f2f2f2;
  }
}

@media (min-width: @tablet-width) {
  .features__research-wrapper {
    display: flex;
    justify-content: space-between;
    width: 620px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @desktop-width) {
  .features__research-wrapper {
    width: 940px;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.features__research-results {
  width: 310px;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

@media (min-width: @desktop-width) {
  .features__research-results {
    width: 575px;
  }
}

.features__research-heading {
  width: 170px;
  margin: 0;
  padding-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

@media (min-width: @desktop-width) {
  .features__research-heading {
    margin-top: 58px;
    width: auto;
    background-color: #f2f2f2;
  }
}

@media (min-width: @desktop-width) {
  .features__research-heading br {
    display: none;
  }
}

.features__research-text {
  margin: 0;
  padding-bottom: 10px;
}

@media (min-width: @desktop-width) {
  .features__research-text {
    margin-top: 11px;
    font-size: 18px;
    line-height: 30px;
  }
}


@media (min-width: @desktop-width) {
  .features__research-text br {
    display: none;
  }
}

.features__research-text br:nth-child(2) {
  display: none;
}

@media (min-width: @desktop-width) {
  .features__research-text br:nth-child(2) {
    display: block;
  }
}

.features__research-link {
  color: #d22856;
  background-color: #ffffff;
  text-decoration: underline;
}

@media (min-width: @desktop-width) {
  .features__research-link {
    width: 290px;
    font-size: 18px;
    line-height: 20px;
    margin-top: 25px;
    text-decoration: none;
    border-bottom: 1px solid #d22856;
    background-color: #f2f2f2;
  }
}
