.main-nav {
  font-size: 14px;
	line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #283645;
}

.main-nav__list {
  list-style: none;
}

.main-nav__item {
  color: #ffffff;
  background-color: #283645;

}

.main-nav_link {
  color: #ffffff;
  background-color: #283645;
}
