.main-nav {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #283645;
}

.main-nav__list {
  .reset-list();
}

.main-nav__item {
  color: #ffffff;
  background-color: #283645;
}

.main-nav__link {
  color: #ffffff;
  background-color: #283645;
}
