.page-footer {
  background-color: #ffffff;
}

.page-footer__social {
  display: flex;  
}

.page-footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 0;
  border: 3px solid #e9ebec;
  border-radius: 50%;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
}

.page-footer__copyright-text {
  line-height: 18px;
  text-align: left;
  margin-right: 15px;
  color: #283645;
  background-color: #ffffff;
}

.page-footer__copyright-link {
  display: block;
  height: 34px;
}
