.page-footer {
  width: 320px;
  min-height: 285px;
  .centerman();
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .page-footer {
    /* Временно для сетки */
    width: 660px;
    min-height: 125px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    /* Временно для сетки */
    width: 1200px;
    min-height: 195px;
  }
}

.page-footer__wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .centerman();
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    width: 620px;
    padding-top: 23px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 940px;
    padding-top: 51px;
  }
}

.page-footer__logo-link {
  margin-top: 41px;
  margin-bottom: 32px;
}

@media (min-width: @tablet-width) {
  .page-footer__logo-link {
    margin: 0;
  }
}

.page-footer--hide {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer--hide {
    /* Временно для сетки */
    display: flex;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

@media (min-width: @tablet-width) {
  .page-footer__copyright {
    margin-top: 28px;
  }
}

.page-footer__copyright-text {
  line-height: 18px;
  text-align: left;
  margin-right: 15px;
  margin-bottom: 3px;
  color: #283645;
  background-color: #ffffff;
}

@media (min-width: @desktop-width) {
  .page-footer__copyright-text {
    font-size: 18px;
    margin-bottom: 8px;
    margin-right: 14px;
  }
}

.page-footer__copyright-link {
  display: block;
  height: 34px;
}
