.page-footer {
  background-color: #ffffff;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
}

.page-footer__copyright-text {
  line-height: 18px;
  text-align: left;
  margin-right: 15px;
  color: #283645;
  background-color: #ffffff;
}

.page-footer__copyright-link {
  display: block;
  height: 34px;
}
