.photo__title {
  min-height: 237px;
  color: #ffffff;
  background-color: #283645;
  background-image: url('../img/bg-back-mobile@1x.jpg');
}

.photo__message {
  color: #283645;
  background-color: #ffffff;
  line-height: 30px;
}

.photo__panorama-plate {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  background-color: #d22856;
}

.photo__data {
  text-align: left;
  color: #283645;
  background-color: #f2f2f2;
}

.photo__cite {
  font-weight: bold;
}

.photo__cite-time {
  font-size: 12px;
}

.photo__like-count {
  font-size: 12px;
  color: #d22856;
  background-color: #f2f2f2;

}
