@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "support.less";

body {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  background-color: #ffffff;
}

@import "page-header.less";
@import "main-nav.less";
@import "application-download.less";
@import "features.less";
@import "photo.less";
@import "page-footer.less";
@import "social.less";
@import "contest.less";
